:root {
  --white-1: #fff;
  --white-2: #f4f4f4;
  --white-3: #d9d9d9;
  --white-4: #b9b9b9;

  --black-1: #000;
  --black-2: #230101;

  --canvas-border: 1px solid rgba(0, 0, 0, 0.3);
  --light-red: #ff6868;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
