:root {
  --ff: "Outfit", sans-serif;

  --white-1: #fff;
  --white-2: #f4f4f4;
  --white-3: #d9d9d9;
  --white-4: #b9b9b9;

  --black-1: #000;
  --black-2: #230101;

  --canvas-border: 1px solid rgba(0, 0, 0, 0.3);
  --light-red: #ff6868;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--white-2);
  font-family: var(--ff);
  position: relative;
}

.primary-header {
  margin: 19px 21px;
}

main {
  margin: 19px 21px;
  flex: 2;
}

.canvas-and-settings {
  margin-top: 2rem;
}

#canvas {
  display: grid;
  width: 100%;
  max-width: 600px;
  min-width: 216px;
  aspect-ratio: 1/1;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  background-color: var(--white-1);
  border: var(--canvas-border);
}

.set-canvas-size {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 7px;
}

#size-slider {
  appearance: none;
  width: 83px;
  height: 5px;
  background-color: var(--white-4);
  border-radius: 20px;
}

#size-slider::-webkit-slider-thumb {
  background: var(--white-3);
  appearance: none;
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.primary-footer {
  background-color: var(--black-2);
  padding: 21px 39px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary-footer p {
  color: var(--white-1);
  font-size: 1.1rem;
}

.primary-footer p a {
  color: var(--white-1);
  font-weight: 700;
  margin-left: 4px;
}

svg {
  cursor: pointer;
}

#stroke-1,
#stroke-2,
#stroke-3 {
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#open-menu:hover #stroke-1,
#open-menu:hover #stroke-3 {
  transform: scaleX(1.2);
}

#open-menu:hover #stroke-2 {
  transform: scaleX(0.5);
}

#menu {
  padding: 14px 18px;
  position: absolute;
  height: 100%;
  background-color: var(--light-red);
  display: flex;
  flex-direction: column;
  gap: 11px;
  transition: all 0.3s ease-in-out;
  left: -200px;
}

#menu.active {
  left: 0;
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.settings-opt > *:not(p) {
  width: 100%;
  cursor: pointer;
}
.settings-opt > * {
  font-size: 1rem;
}

.settings-opt > p {
  color: var(--white-1);
}

#canvas-color {
  appearance: none;
  border: none;
  border-radius: 4px;
}

#canvas-color::-webkit-color-swatch-wrapper {
  padding: 0;
}
#canvas-color::-webkit-color-swatch {
  border-radius: 4px;
  border: none;
}

.btn-opt {
  padding: 3px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--white-1);
  border: 0;
  font-family: var(--ff);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

@media (hover: hover) {
  .btn-opt:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

.square {
  border: 2px solid red;
}

.canvas-and-settings .settings {
  display: none;
}

@media (min-width: 47rem) {
  #open-menu {
    display: none;
  }
  #menu {
    display: none;
  }

  .canvas-and-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .canvas-and-settings .settings {
    display: flex;
  }

  .settings-opt p {
    color: var(--black-1);
  }

  #canvas {
    width: 80%;
  }

  .hide {
    display: none;
  }
}
